@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.card{
  color: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card::after, .card::before{   
  content: "";
  height: 103%;
  width: 102%;
  background-image:conic-gradient(from var(--angle),black,black,rgb(255, 0, 0),black,black);
  position:absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: 10s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.25;
}

@keyframes spin{
  from{
      --angle: 0deg
  }
  to{
      --angle: 360deg
  }
}
/* text-white flex justify-center gap-14 align-middle h-[30vh] w-[80vw] border-4 rounded-xl border-red-600 */