@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.flex2{
  display: flex;
  flex-direction: column;
}
.flex1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul-cont{
  width:80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 5vh;


}
.ul-div{
  display: flex;
  justify-content: center;
 align-items: center;
 gap: 5vw;
 text-decoration: underline;

}
.mod-div{
  width:40vw;
}
.ul-div li a:hover{
font-size:large;
}
.ul-div li a{
  display: inline-block;
}
  
.main1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1-child{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 2vh;
}
.main-p1{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
  font-size:10cap;
  font-weight: bolder;
}
.main-p2{
  --tw-text-opacity: 1;
    color: rgb(185 28 28 / var(--tw-text-opacity));
    font-size:10cap;
    font-weight: bolder;
}

.steam-cont{
  width: 80vw;
}
.card-div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.card{
  color: white;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5cap;
}
.card::after, .card::before{   
  content: "";
  height: 100%;
  width: 100%;
  background-image:conic-gradient(from var(--angle),red,black,black);
  position:absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  border-radius: 10px;
  animation: 10s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.25;
}
.ul-div,.details-div,.regis-div{
  width: 40vw;
}
.btn a button:hover{
  background-color:rgb(220 38 38);

}
.bottom-fixed{
  background-color: rgb(30, 0, 0);
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
}

@keyframes spin{
  from{
      --angle: 0deg
  }
  to{
      --angle: 360deg
  }
}


@media only screen and (max-width: 600px) {
.container-nav{
  gap: 10px;
}
.ul-div li a{
  width: fit-content;
}
.main-p1{
  font-size:4.5cap;
  font-weight: bolder;
}
.main-p2{
    font-size:4.5cap;
    font-weight: bolder;
}
.mod-div,.details-div{
  width: 90vw;
}
.card,.text-7xl{
  font-size: 1.5cap;
}
.quote{
  font-size:xx-small;
}
.nov p{
  font-size: x-large;
}
.nov2 p{
  font-size:xx-small;
}
.days,.hours,.minutes,.seconds{
  font-size: small;
}
.card{
  width: 75vw;
}
.details-div p{
font-size:medium;
}
.mod-div ul li{
  font-size: medium;
}
.size-small{
  font-size: xx-small;
}
.size-large{
  font-size: large;
}
.size-mid{
  font-size: medium;
}
}
